<!DOCTYPE HTML>
<html>
    <head>
        <meta charset = utf-8>
        <title>Pizzeria</title>
    </head>
    <body>
        <h1>Pizzeria</h1>
        <ul>
            <li>
                <a id="active" href="index.php">Home</a>
            </li>
            <li>
                <a href="menutonen.php">Menu</a>
            </li>
            <li>
                <a href="winkelmandjetonen.php">Winkelmandje</a>
            </li>
            <li>
                {% if aangemeld %}
                    <a href="index.php?action=uitloggen">Log uit</a>
                {% else %}
                    <a href="inloggen.php">Log in</a>
                {% endif %}
            </li>
        </ul>
        <p>Dit is pizzeria Samuel. Maak uw keuze uit het menu.</p>
    </body>
</html>